.util-color-blue {
    background: blue;
}

.util-color-white {
    background: white;
}

.util-color-green {
    background: green;
}

.util-color-yellow {
    background: yellow;
}

.util-color-gray {
    background: gray;
}

.util-color-black {
    background: black;
}

.util-color-orange {
    background: orange;
}

.util-color-pink {
    background: pink;
}

.util-color-purple {
    background: purple;
}
